@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/lib/signalr/signalr-protocol-msgpack.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl('http://127.0.0.1:5196/ws/webapi/web/hub?group=g2&extension={ "a": "mass.01,mass.02" }', {
            accessTokenFactory: () => {
                return "eyJhbGciOiJSUzI1NiIsImtpZCI6IkRDOEQyMzQ5NzFFMzQ4NUYzNjQzQTI5NzY2NEQ3MUZFNjU4MjZCQjZSUzI1NiIsInR5cCI6ImF0K2p3dCIsIng1dCI6IjNJMGpTWEhqU0Y4MlE2S1haazF4X21XQ2E3WSJ9.eyJuYmYiOjE2OTc3ODc3NDksImV4cCI6MTY5Nzc5MTM0OSwiaXNzIjoiaHR0cHM6Ly8xMjcuMC4wLjE6NTEwNSIsImF1ZCI6ImFwaUlkczRGaXJzdCIsImNsaWVudF9pZCI6ImdycGMta2V5Iiwic3ViIjoiMTIzIiwiYXV0aF90aW1lIjoxNjk3Nzg3NzQ5LCJpZHAiOiJhcnMiLCJ0ZW5hbnQiOiIxIiwiaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS93cy8yMDA4LzA2L2lkZW50aXR5L2NsYWltcy9yb2xlIjoiYWRtaW4iLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IkgxMjMiLCJqdGkiOiJGQzE2RDYxQjg4NjYwNkQ2QTM1MDcwMDQwRkM4RTBDOSIsImlhdCI6MTY5Nzc4Nzc0OSwic2NvcGUiOlsiZ3JwY2FwaS1zY29wZSIsIm9mZmxpbmVfYWNjZXNzIl0sImFtciI6WyJCZWFyZXIiXX0.i_QNF4ScYhnpeCUr3_0VdGX2H9doaOwnBFE3llCQvTUYYK1m97p8VFN0jcu6qK5MvjudgqZ3af22fzSkJHUtPhjCbYF7xUb9EMLzbUxFXbCCpoaq8OrbbrIn3SYxT38pTl598TzPH5yZIYYuNIf9_v1YQUFS6EAQ3IBSdxFCrMDa3BDIMYvDLBFTXW3dbIdz4iA4Xa-ZaRHvICzqCcchZOxZsm7t2gKzY-4UOCv46Kgsdwo7j5LaipVV7Em-dfmV4HOw9so0WeRQdykwMlbyrJYD3cyW82y03efrVg23rIKDZlTOA4lpHaxebFVIxyISsWkRSEm5kEWZUWS7XWw1Sw";
            },
        })
        .withHubProtocol(new signalR.protocols.msgpack.MessagePackHubProtocol())
        .withAutomaticReconnect()
        .configureLogging(signalR.LogLevel.Information)
        .build();

    async function start() {
        try {
            connection.logging = true;
            await connection.sta rt();
            console.log("SignalR Connected.");
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    };

    connection.onclose(async () => {
        console.log("SignalR DisConnected.");
        await start();
    });

    connection.on("产线01.站台A7.ReceiveMessage", (message) => {
        console.log(`产线01.站台A7.ReceiveMessage:${message}`);
    });

    connection.on("ars.hub.ReceiveMessage",(message) =>{
        console.log(message);
    });

    // Start the connection.
    start();
</script>